figure {
    width: 50%;
    margin: 2.5% 25% 0 25%;
    position: relative;
}

img {
    width: 100%;
    position: relative;
}


figcaption {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 20%;
    background: linear-gradient(#ff1111, #ff1111 83%, #990a0a);
    text-align: center;
    top: 0;
    left: 0;
    color: white;
    font-size: 4em;
    text-shadow: .1em .1em .2em #828282;
}


/*

To add this image banner to WordPress manually add a class to the 'figcaption' by editing as html

Note: with the figcaption at width 100% the figure needs to have a margin specified to 

*/