/* figure {
    width: 50%;
    margin: 2.5% 25% 0 25%;
    display: grid;
    & > * {
        grid-column: 1;
        grid-row: 1;
    }
}

img {
    width: 100%;
}

.banner {
    height: 20%;
    background: linear-gradient(#ff1111, #ff1111 83%, #990a0a);
    text-align: center;
    top: 0;
    left: 0;
    color: white;
    font-size: 4em;
    text-shadow: .1em .1em .2em #828282;
} */

.pop-up-container {
	display: flex;
}

.pop-up-image {
	width: 65%;
	display: inline-block;
	filter: drop-shadow(5px 5px 4px #999999 )
}

.pop-up-text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 35%;
	padding: 30px 0 35px 0;
}