
.pop-up-container {
	display: flex;
}

.pop-up-image {
	width: 65%;
	display: inline-block;
	filter: drop-shadow(5px 5px 4px #999999 )
}

.pop-up-text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 35%;
	padding: 30px 0 35px 0;
}